<!DOCTYPE html>
{% extends "multiVersePortfolio/template.html" %}

{% block title %}
Home
{% endblock %}
  
  <!-- If ithis ends up being a JINJA2 template, I'll use the body tags as delimiters  -->
  {% block backgroundimage %}<img src="https://media.gettyimages.com/id/922610806/video/abstract-digital-background-loopable-4k.jpg?s=640x640&k=20&c=gMhuPvcRIjfk-NYH0y1jEVwqnmLm2jpFk4NDS1PalVU=" id="bg" alt="">
  </img> {% endblock %}

  	{% block main %}
		<img id="agentimage" src="https://images.freeimages.com/vhq/images/previews/715/generic-profile-image-placeholder-suit-118559.png" alt="">	
		<p >
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue eget arcu dictum varius duis at consectetur lorem donec. Etiam tempor orci eu lobortis elementum nibh tellus. Turpis egestas pretium aenean pharetra magna ac. Nam aliquam sem et tortor consequat id porta nibh. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Risus nec feugiat in fermentum posuere. Volutpat commodo sed egestas egestas fringilla. Proin libero nunc consequat interdum varius. Vitae auctor eu augue ut lectus arcu bibendum. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Sit amet consectetur adipiscing elit ut aliquam purus. Feugiat nibh sed pulvinar proin gravida hendrerit lectus a.

Sem fringilla ut morbi tincidunt augue interdum velit. Porttitor leo a diam sollicitudin tempor id eu nisl. Pulvinar mattis nunc sed blandit libero. Duis at consectetur lorem donec massa. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Velit ut tortor pretium viverra. Amet nisl purus in mollis. Dui faucibus in ornare quam viverra. A arcu cursus vitae congue mauris rhoncus aenean. Bibendum at varius vel pharetra vel turpis nunc eget. Pulvinar proin gravida hendrerit lectus a. Quam adipiscing vitae proin sagittis. Tempus urna et pharetra pharetra massa massa. Neque egestas congue quisque egestas diam in arcu cursus. 
		</p>
		<p> 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue eget arcu dictum varius duis at consectetur lorem donec. Etiam tempor orci eu lobortis elementum nibh tellus. Turpis egestas pretium aenean pharetra magna ac. Nam aliquam sem et tortor consequat id porta nibh. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Risus nec feugiat in fermentum posuere. Volutpat commodo sed egestas egestas fringilla. Proin libero nunc consequat interdum varius. Vitae auctor eu augue ut lectus arcu bibendum. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Sit amet consectetur adipiscing elit ut aliquam purus. Feugiat nibh sed pulvinar proin gravida hendrerit lectus a.

Sem fringilla ut morbi tincidunt augue interdum velit. Porttitor leo a diam sollicitudin tempor id eu nisl. Pulvinar mattis nunc sed blandit libero. Duis at consectetur lorem donec massa. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Velit ut tortor pretium viverra. Amet nisl purus in mollis. Dui faucibus in ornare quam viverra. A arcu cursus vitae congue mauris rhoncus aenean. Bibendum at varius vel pharetra vel turpis nunc eget. Pulvinar proin gravida hendrerit lectus a. Quam adipiscing vitae proin sagittis. Tempus urna et pharetra pharetra massa massa. Neque egestas congue quisque egestas diam in arcu cursus. 
		</p>
	{% endblock %}

